<div class="row">
    <div class="black-box col-lg-4 col-lg-offset-4">

        <div class="alert alert-success" ng-show="status.success">You successfully confirmed your invitation. See you there!
        </div>
        <div ng-hide="status.success">
            <h1> Please confirm your arrival </h1>
            <form class="form-horizontal" role="form" name="form.confirm" >
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Name</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputName" placeholder="Full name"
                               ng-model="inviteForm.name"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPhone" placeholder="Phone number"
                               ng-model="inviteForm.phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Group size</label>

                    <div class="col-sm-8" tooltip="מספר משתתפים" tooltip-placement="right">
                        <div class="btn-group group-size">
                            <button type="button" class="btn btn-default" ng-click="inviteForm.number=1"
                                    ng-class="{active: inviteForm.number==1}">1
                            </button>
                            <button type="button" class="btn btn-default" ng-click="inviteForm.number=2"
                                    ng-class="{active: inviteForm.number==2}">2
                            </button>
                            <button type="button" class="btn btn-default" ng-click="inviteForm.number=3"
                                    ng-class="{active: inviteForm.number==3}">3
                            </button>
                            <button type="button" class="btn btn-default" ng-click="inviteForm.number=4"
                                    ng-class="{active: inviteForm.number==4}">4
                            </button>
                            <button type="button" class="btn btn-default" ng-click="inviteForm.number=5"
                                    ng-class="{active: inviteForm.number==5}" >5
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" ng-click="create(inviteForm)"
                                data-loading-text="Saving..." class="btn btn-default btn-lg btn-block"
                                btn-loading="status.saving" ng-disabled="form.confirm.$invalid || !inviteForm.number">
                            Confirm <i class="fa fa-heart"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="black-box col-lg-4 col-lg-offset-4">
        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3386.284700468083!2d34.827082!3d31.926027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf96bebe87b3bdb!2z15fXldeV16og15DXnNeg15HXmQ!5e0!3m2!1siw!2sil!4v1411844063409" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>

</div>