<div ng-include="'partials/navbar'"></div>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Invitee name</th>
        <th>Group size</th>
        <th>Phone number</th>
        <th>Confirmation date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invite in invites">
        <td>{{invite.name}}</td>
        <td>{{invite.number}}</td>
        <td>{{invite.phone}}</td>
        <td>{{invite.date | date:'medium'}}</td>
        <td><span class="glyphicon glyphicon-trash" ng-click="remove(invite)"></span></td>
    </tr>
    </tbody>
</table>
<div class="panel panel-default">
    <div class="panel-body">
        Total <span class="badge"> {{group_size_sum}} </span>  people!
    </div>
</div>



<div class="footer">
    <p>♥</p>
</div>
